<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="container mt-5">
    <div class="alert alert-dark  display-1">LISTADO DE MASCOTAS</div>
    {%if animales %}

    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Sexo</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>f_nacimiento</th>
                <th>Dueño</th>
                <th>Veterinario</th>
            </tr>
        </thead>
        </tbody>
        {% for Mascotas in animales %}
        <tr>
            <td scope="row">{{Mascotas.id}}</td>
            <td>{{Mascotas.nombre}}</td>
            <td>{{Mascotas.especie}}</td>
            <td>{{Mascotas.sexo}}</td>
            <td>{{Mascotas.raza}}</td>
            <td>{{Mascotas.edad}}</td>
            <td>{{Mascotas.f_nacimiento}}</td>
            <td>{{Mascotas.dueño}}</td>
            <td>{{Mascotas.veterinario}}</td>
            <td><a href="/actualizarAnimal/{{Mascotas.id}}" class="btn btn-success btn-sm"><i class="bi bi-pencil">Actualizar</i></td>
            <td><a href="/eliminarAnimal/{{Mascotas.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash">Eliminar</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-primary" role="alert">
    <strong>No se encuentran mascotas en el sistema</strong>
</div>
{% endif%}
 

<a href="../" class="btn btn-secondary btn-sm">Volver</a>
<a href="../agregarAnimal"  class="btn btn-warning btn-sm">Registrar mascotas</a>
</body>
</html>