
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>   
<body class="container mt-5">
    <div class="alert alert-dark  display-1">Listado de Dueños</div>
    {%if personas %}

    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Direccion</th>
                <th>Nacionalidad</th>
                <th>Sexo</th>
            </tr>
        </thead>
        </tbody>
        {% for Mascotas in personas %}
        <tr>
            <td scope="row">{{Mascotas.id}}</td>
            <td>{{Mascotas.nombre}}</td>
            <td>{{Mascotas.email}}</td>
            <td>{{Mascotas.celular}}</td>
            <td>{{Mascotas.direccion}}</td>
            <td>{{Mascotas.nacionalidad}}</td>
            <td>{{Mascotas.sexo}}</td>
            <td><a href="/actualizarDueño/{{Mascotas.id}}" class="btn btn-success btn-sm"><i class="bi bi-pencil">Actualizar</i></td>
            <td><a href="/eliminarDueño/{{Mascotas.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash">Eliminar</i></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-primary" role="alert">
    <strong>No se encuentran dueños en el sistema</strong>
</div>
{% endif%}
 

<a href="../" class="btn btn-secondary btn-sm">Volver</a>
<a href="../agregarDueño" class="btn btn-warning btn-sm">Registrar Dueños</a>
</body>
</html>